
<h1 class="text-center">Author</h1>

<div id="authorList">
    <!-- Container for AJAX request -->
    <img src="~/Images/Loading.gif" style="width:30px"/> <i>Loading...</i>
</div>

<div id="addAuthorBlock">
    @*<span class="text-nowrap bd-highlight">Add new author</span> <br />*@
    <span class="badge badge-primary text-wrap">Name</span> <input name="Name" class="form-control"/> <br />
    <span class="badge badge-primary text-wrap">Pseudo</span> <input name="Pseudo" class="form-control"/> <br />
    <input type="button" value="Add" id="addAuthorButton" class="btn btn-primary" />
</div>
